---
import { propsToFilename } from "astro/assets/utils";

interface Props {
  content: string;
  style?: string;
}

const { content, style } = Astro.props;
---

<button class={style}>
  {content}
</button>

<style lang="scss">
  button {
    width: 140px;
    height: 35px;

    background-color: #d02a35;
    border-radius: 3px;
  }
</style>
