---

---

<section id="promotion">
  <div class="promotion__container flex">
    <div class="container__left flex flex-col">
      <div class="promotion__card">
        <h5 class="h5-title"></h5>
      </div>

      <div class="left__bottom flex">
        <div class="promotion__card">2</div>

        <div class="promotion__card">3</div>
      </div>
    </div>

    <div class="container__right">4</div>
  </div>
</section>

<style lang="scss" scoped>
  #promotion {
    margin-top: 170px;
  }

  .promotion__container {
    gap: 30px;
  }

  .container__left {
    .promotion__card {
      width: 664px;
      width: 250px;
    }

    .left__bottom {
      gap: 30px;
      .promotion__card {
        width: 317px;
        height: 230px;
      }
    }
  }
</style>
