---
import MainButton from "@components/Buttons/MainButton.astro";
---

<section id="services">
  <h2 class="h2-title" id="title">услуги автосервиса</h2>
  <div class="services__container">
    <div class="services__list">
      <article class="services__card">
        <img src="" alt="" class="w-[109.5px] h-[140px]" />
        <div class="card__content">
          <div class="card-title h5-title">Ремонт ходовой</div>
          <div class="card-description description-text">от 1500</div>
          <MainButton w="140" h="35" content="Подробнее" />
        </div>
      </article>

      <article class="services__card">
        <img src="" alt="" class="w-[126px] h-[146px]" />
        <div class="card__content">
          <div class="card-title h5-title">Шиномонтаж</div>
          <div class="card-description description-text">от 5000</div>
          <MainButton w="140" h="35" content="Подробнее" />
        </div>
      </article>

      <article class="services__card">
        <img src="" alt="" class="w-[126px] h-[136px]" />
        <div class="card__content">
          <div class="card-title h5-title">Диагностика</div>
          <div class="card-description description-text">от 1990</div>
          <MainButton w="140" h="35" content="Подробнее" />
        </div>
      </article>
    </div>

    <div class="services__list">
      <article class="services__card">
        <img src="" alt="" class="w-[126px] h-[138px]" />
        <div class="card__content">
          <div class="card-title h5-title">Ремонт ДВС</div>
          <div class="card-description description-text">от 10000</div>
          <MainButton w="140" h="35" content="Подробнее" />
        </div>
      </article>

      <article class="services__card">
        <img src="" alt="" class="w-[112px] h-[140px]" />
        <div class="card__content">
          <div class="card-title h5-title">Ремонт подвески</div>
          <div class="card-description description-text">от 1950</div>
          <MainButton w="140" h="35" content="Подробнее" />
        </div>
      </article>

      <article class="services__card">
        <img src="" alt="" class="w-[133px] h-[113px]" />
        <div class="card__content">
          <div class="card-title h5-title">ТО Автомобиля</div>
          <div class="card-description description-text">от 1000</div>
          <MainButton w="140" h="35" content="Подробнее" />
        </div>
      </article>
    </div>
  </div>
</section>

<style lang="scss" scoped>
  #services {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #title {
    margin-top: 70px;
  }

  .services__container {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .services__list {
      display: flex;
      gap: 30px;
    }

    .services__card {
      width: 320px;
      height: 160px;

      display: flex;
      gap: 17px;
      align-items: center;

      background-color: #222222;

      .card__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
</style>
