---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header/Header.astro";

const images = [
  {
    src: "https://cdn.builder.io/api/v1/image/assets/TEMP/c0351d670025db3be3399879186aec361c532c7220ea8e0f6f1497855dd516b3?apiKey=86a8077d13b044688be2a49a34f38b33&",
    alt: "Company Logo",
    class: "logo",
  },
  {
    src: "https://cdn.builder.io/api/v1/image/assets/TEMP/86d9fe4a80e25a78f2c5dd6a87b9c5d4e0b9b6abff47e107ad91a8a112a66a7e?apiKey=86a8077d13b044688be2a49a34f38b33&",
    alt: "Promotional Banner",
    class: "promo-image",
  },
  {
    src: "https://cdn.builder.io/api/v1/image/assets/TEMP/0fa06b43789abad72a5f015b0988f05c299dd606c7b1c1048a9aaada69a2c61d?apiKey=86a8077d13b044688be2a49a34f38b33&",
    alt: "Featured Content Image",
    class: "featured-image",
  },
  {
    src: "https://cdn.builder.io/api/v1/image/assets/TEMP/9427c002e7b9b56058efafebc3dc90c803d56e87cb02795f6443a40cfc338915?apiKey=86a8077d13b044688be2a49a34f38b33&",
    alt: "Badge Image",
    class: "badge-image",
  },
];
---

<Layout title="Title page">
  <main>
    <section id="main-section">
      <Header/>
    </section>
  </main>

  <style lang="scss" scoped></style>
</Layout>
