---
import MainButton from "@components/Buttons/MainButton.astro";
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header/Header.astro";
import AboutUS from "@components/Sections/AboutUS.astro";
import Services from "@components/Sections/Services.astro";
import Promotion from "@components/Sections/Promotion.astro";
import Feedback from "@components/Sections/Feedback.astro";
import Footer from "@components/Footer/Footer.astro";

export const prerender = true;
---

<Layout title="Автосервис - RemZona || Мариупаль">
  <main>
    <section id="main__section">
      <Header />
      <div class="main__content flex flex-col items-center gap-9">
        <img
          src="title.svg"
          alt="Heading"
          loading="eager"
          decoding="async"
          class="w-[568px] h-[57px]"
        />
        <p class="description">Делаем качественно, быстро и с душой</p>
        <MainButton content="Оставить заявку" />
      </div>
    </section>
    <AboutUS />
    <Services />
    <Promotion />
    <Feedback />
    <Footer />
  </main>
</Layout>

<style lang="scss">
  main {
    font-family: var(--font-family);
    color: #fff3f3;
  }

  #main__section {
    background-image: url("/main-backgound.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 800px;
  }

  @media (min-width: 1500px) {
    #main__section {
      background-size: cover;
      height: 100vh;
    }
  }

  .main__content {
    width: max-content;
    margin: 98px auto;

    h1 {
      font-style: italic;
      font-weight: 600;
      font-size: 68px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #fff3f3;
    }
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: right;
    color: #fff3f3;
  }
</style>
