---
import MainButton from "@components/Buttons/MainButton.astro";
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header/Header.astro";
import AboutUS from "@components/Sections/AboutUS.astro";
---

<Layout title="Автосервис Rem Zona">
  <main>
    <section id="main__section">
      <Header />
      <div class="main__content flex flex-col items-center gap-9">
        <img src="title.svg" alt="Heading" class="w-[568px] h-[57px]" />
        <p class="description">Делаем качественно, быстро и с душой</p>
        <MainButton content="Оставить заявку" />
      </div>
    </section>
    <AboutUS />
  </main>
  <style lang="scss" scoped></style>
</Layout>

<style lang="scss" scoped>
  main {
    font-family: var(--font-family);
    color: #fff3f3;
  }

  #main__section {
    background-image: url("/public/main-backgound.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
  }

  .main__content {
    width: max-content;
    margin: 98px auto;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: right;
    color: #fff3f3;
  }
</style>
