---
interface Props {
  content: string;
  style?: string;
  serviceID: string;
}

const { content, style, serviceID } = Astro.props;
---

<button class={style}>
  <a href=`service/${serviceID}`>
    {content}
  </a>
</button>

<style lang="scss">
  button {
    width: 140px;
    height: 35px;

    background-color: #d02a35;
    border-radius: 3px;
  }
</style>
