---
import "./header.scss";
---

<header class="h-90 flex justify-between p-30">
  <img class="w-[156px] h-[42px]" src="logo.svg" alt="Company logo" />
  <nav class="nav__menu flex flex-col gap-[30px]">
    <ul class="menu__list flex flex-row gap-[120px] justify-center">
      <li class="menu-item"><a href="">О нас</a></li>
      <li class="menu-item"><a href="">Услуги</a></li>
      <li class="menu-item"><a href="">Акции</a></li>
      <li class="menu-item"><a href="">Контакты</a></li>
    </ul>
    <img src="underline-nav.png" alt="" />
  </nav>
  <div class="info">
    <div class="info-number">8-908-875-53-47</div>
    <div class="info-time">9.00-20.00 пн-вс</div>
  </div>
</header>

<style lang="scss" scoped>
  header {
    color: #fff3f3;
  }
</style>
