---
import MainButton from "@components/Buttons/MainButton.astro";
import { Image } from "astro:assets";
import telegram from "public/telegram.svg";
import telegramqr from "public/telegramqr.png";
import whatsapp from "public/whatsapp.svg";
import whatsappqr from "public/whatsappqr.png";
---

<section id="feedback">
  <div class="feedback__container">
    <div class="feedback__container_left">
      <div class="feedback__container_left-title">
        <h2 class="feedback__title">оставить заявку</h2>
        <p class="description-text">мы вам позвоним</p>
      </div>

      <form action="">
        <input type="text" placeholder="Ваше имя" />
        <input type="text" placeholder="Вид работы" />
        <input type="text" placeholder="Номер телефона" />
      </form>
      <p class="text-center form__description">
        При нажатии на кнопку “Отправить” вы соглашаетесь с <br />
        <a href="#">политикой обработки персональных данных</a>
      </p>
      <MainButton content="Отправить" />
    </div>

    <div class="feedback__container_right">
      <h2 class="feedback__title">мы в мессенджерах</h2>
      <div class="content_right">
        <div class="right-telegram">
          <div class="right-telegram_title">Telegram</div>
          <a href="#" class="telegram__link">
            <Image
              class={"telegram__icon"}
              src={telegram}
              alt={"Иконка телеграмма для ссылки на телеграм автосервиса"}
              width={40}
              height={35}
            />
          </a>
          <Image
            class={"telegram__qrcode"}
            src={telegramqr}
            alt={"Изображение QR кода для телеграмма"}
          />
        </div>
        <div class="right-whatsapp">
          <div class="right-whatsapp_title">WhatsApp</div>
          <a href="#" class="whatsapp__link">
            <Image
              class={"whatsapp__icon"}
              src={whatsapp}
              alt="Иконка whatsapp для ссылки на whatsapp автосервиса"
              width={35}
              height={35}
            />
          </a>
          <Image
            class={"whatsapp__qrcode"}
            src={whatsappqr}
            alt={"Изображение QR кода whatsapp"}
          />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss" scoped>
  #feedback {
    margin-top: 140px;
    height: max-content;
  }

  .feedback__container {
    display: flex;
    gap: 202px;
    align-content: center;
    justify-content: center;

    &_left {
      max-width: 408px;

      &-title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
      }

      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      form {
        display: flex;
        flex-direction: column;
        gap: 35px;
        input {
          width: 408px;
          height: 27px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #b9b9b9;
        }
      }

      .form__description {
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        text-align: center;
        color: #b9b9b9;
      }
    }

    &_right {
      max-width: 366px;
      display: flex;
      flex-direction: column;
      gap: 53px;

      .content_right {
        display: flex;
        gap: 32px;
        justify-content: center;

        .right-telegram {
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: center;
        }

        .right-whatsapp {
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: center;
        }
      }
    }
  }

  .feedback__title {
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff3f3;
  }
</style>
