---
import { Image } from "astro:assets";
import "./header.scss";
import srcLogo from "public/logo.svg";
import underline from "public/underline-nav.png";
---

<header id="header" class="h-[90px]">
  <div class="header__container flex justify-between">
    <Image src={srcLogo} alt={"Логотип автосервиса RemZona"} loading="eager" />
    <nav class="nav__menu flex flex-col justify-center">
      <ul class="menu__list flex flex-row gap-[20%] justify-center">
        <li class="menu-item"><a href="#about-us">О нас</a></li>
        <li class="menu-item"><a href="#services">Услуги</a></li>
        <li class="menu-item"><a href="#promotion">Акции</a></li>
        <li class="menu-item"><a href="#feedback">Контакты</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="info-number">8-908-875-53-47</div>
      <div class="info-time">9.00-20.00 пн-вс</div>
    </div>
  </div>
  <div class="underline__image flex justify-center">
    <Image
      class={"underline"}
      src={underline}
      alt="Изображение линии, подчеркивающей навигацию сайта"
      loading="eager"
    />
  </div>
</header>

<style lang="scss" scoped>
  #header {
    font-family: var(--font-family);
    color: #fff3f3;
  }

  .underline__image {
    margin-top: 11px;
  }

  .header__container {
    padding: 30px 30px 0 30px;
  }

  .nav__menu {
    width: 41%;
  }

  @media (max-width: 1380px) {
    .nav__menu {
      .menu__list {
        gap: 15%;
      }
    }
  }

  @media (max-width: 1020px) {
    .nav__menu {
      .menu__list {
        gap: 8%;
      }
    }
  }
</style>
