---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #171717;
  }

  :root {
    --font-family: "Mona Sans", sans-serif;
    --second-family: "Uni Neue-Trial", sans-serif;
  }

  html {
    font-family: system-ui, sans-serif;
  }

  h1 {
    visibility: hidden;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .h2-title {
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff3f3;
  }

  .h5-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fff3f3;
  }

  .description-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    color: #cfcfcf;
  }
</style>
